:root {
    --azul: #0f637a;
    --amarelo: #ffd900;
}

body{
    background-color: rgba(174, 174, 211, 0.527);
    padding: 0;
    margin: 10;
}

h1,h4{
    color: rgb(74, 122, 110);
}

.campoLogin{
        /* Espaçamento Interno */
        padding: 5px;
        /* Espaçamento Externo */
        margin: 2px;
        border-style: outset;
        border-color: lightslategrey;
        border-width: 2px;
        border-radius: 8px;
        width: 25%;
}

hr{  
    margin: 5px;
}
.button{
    color:rgb(74, 122, 80);
    font-weight: bold;
    background-color: lavender;
    width: 100px;
    height: 30px;
    border-color: rgb(177, 120, 230);
    border-radius: 6px;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(231, 154, 225, 0.832);
    font-size: medium;
    text-decoration: underline;
    }

.campoPreencher{
    height: 20px;;
    width: 98%;
}
.checkKeepLogin{
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    color: rgb(89, 100, 158);
}

.my-table{
    background-color: rgb(173, 238, 208);
    border: 6px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    border-color: var(--azul);
}

.my-table tr:nth-child(even){
    background-color: #f2f2f2;;
}

.my-table tr:hover{
    background-color: rgba(247, 85, 179, 0.653);
}

.my-table th{
    padding: 6px;
    border: 1px transparent;
    background-color: var(--azul);
    color: var(--amarelo);
}

.table-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.my-table td:hover{
    font-style: italic;
}

.my-table td{
    text-align: center;
    padding: 6px;
    display: table-cell;
    border-inline-color:  transparent;
}

.footing{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0px 8px 0px;
}

.footing a{
    margin:  5px;
    background-color: var(--amarelo);
    color: var(--azul);
    padding: 4px;
    border-radius: 6px;
}

.footing .link-info{
    border: 8px;
}

.checkKeepLogin:hover{
    text-decoration: underline;
    color: rgb(89, 100, 158, 0.65);
}
